@media screen and (max-width: 1399.99px) {
    .navbar-nav {
        max-width: 540px;
    }

    .swiper-banner .swiper-slide .container {
        
        padding: 163px 72px 73px;
    }


    .swiper-banner .swiper-slide .container {
        padding: 73px 72px 123px;
    }

}
