


.navbar {
    padding: 37px 0 27px;
}

.navbar-nav {
    max-width: 618px;
   
}

.nav-link {
    color: $color;

    &:hover {
        color: $primary-color;
    }
}

.hamburger {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
justify-content: center;
padding: 7px;

    &:focus {
            box-shadow: none;   
        }
}


.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after  {
    background-color: #fff;
    width: 26px;
        height: 2px;
    
}

.hamburger-box {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
}

.hamburger-box {
    width: 26px;
    height: 26px;
   
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 26px;
    height: 2px;
    background-color: #ffffff;
  
}

.logo {
    max-width: 175px;

}
