<section class="calculation">
    <div class="container">
        <div class="template-title template-title_case-3">
            <h2>Отримати розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <input type="text">
                    </div>
                    <div class="input-box">
                        <input type="number">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <input type="number">
                    </div>
                    <div class="input-box">
                        <input type="number">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <input type="checkbox">
                    </div>
                    <div class="input-box">
                        <input type="checkbox">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box">
                    <input type="file">
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg">Наступний крок<img src="./assets/img/arrow-circle-left 1.png"
                    alt="icon-arrow"></a>
        </form>
        <!-- <img src="./assets/img/man-holding.png" alt="man">!-->
    </div>
</section>
<div class="container">
    <br><br><br><br><br><br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore unde accusamus non quia. Quia nobis ut neque in
    animi eaque nostrum iusto vero, repellat harum molestiae repudiandae nulla soluta laboriosam consectetur iste vitae,
    illum amet optio aperiam quos deleniti! Delectus voluptates dignissimos laboriosam, doloremque accusantium expedita
    voluptas animi obcaecati, nihil nobis culpa aliquid ratione nesciunt, repellat totam quam alias temporibus fugiat
    sint optio aspernatur? Ipsa corporis aperiam sint eaque quisquam reprehenderit, libero exercitationem quia quod
    deleniti dolorem quos officia nisi expedita hic a nostrum incidunt et enim! Accusantium ipsam incidunt, a iure
    perferendis voluptatibus nulla quas deleniti numquam vel sapiente?
</div>