<section class="calculation">
    <div class="container">
        <form>
            <input type="date">
            <input type="url">
            <select>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
                <option>Пункт 3</option>
                <option>Пункт 4</option>
            </select>
            <button type="submit">Відправити</button>
            <button type="button">button</button>
            <button type="submit">submit</button>
            <button type="reset">reset</button>
        </form>
    </div>
</section>

<div class="container">
    <br><br><br><br><br><br><br><br><br><br>
    
</div>