
<section class="swiper swiper-banner">


    <div class="swiper-wrapper">
    
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-1.png);">
            <div class="container">
                <h1 class="banner-title">Пряме КАРГО з Китаю</h1>
                <h5 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h5>
                <a href="#" class="btn btn-primary btn-lg">Зробити замовлення<img src="./assets/img/arrow-circle-left 1.png"
                        alt="icon-arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-2.png);">
            <div class="container">
                <h2 class="banner-title">Викуп товару с Таобао, 1688</h2>
                <h5 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h5>
                <a href="#" class="btn btn-primary btn-lg">Зробити замовлення<img src="./assets/img/arrow-circle-left 1.png"
                        alt="icon-arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-3.png);">
            <div class="container">
                <h2 class="banner-title">Експрес авто доставка</h2>
                <h5 class="banner-description">Викуп та доставка товарів скитайських торгових площадок.</h5>
                <a href="#" class="btn btn-primary btn-lg">Зробити замовлення<img src="./assets/img/arrow-circle-left 1.png"
                        alt="icon-arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-4.png);">
            <div class="container">
                <h2 class="banner-title">Аренда складу</h2>
                <h5 class="banner-description">Викуп та доставка товарів скитайських торгових площадок.</h5>
                <a href="#" class="btn btn-primary btn-lg">Зробити замовлення<img src="./assets/img/arrow-circle-left 1.png"
                        alt="icon-arrow"></a>
            </div>
        </div>
    
    </div>
    
   <div class="swiper-banner-arrow">
       <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
   </div>
   
 <div class="swiper-pagination"></div>
    
</section>



    
    
   